<article class="post">
  <header class="post-header">
    <h1 class="post-title"><a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="post-meta">
      <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
      {{ with .Params.categories -}}
        <div class="post-category">
          {{ range . -}}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
          {{ end -}}
        </div>
      {{- end }}
      {{- if .Site.Params.moreMeta }}
        <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
        <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
      {{- end }}
    </div>
  </header>
  <!-- Content -->
  <div class="post-content">
    <div class="post-summary">
      {{ .Summary }}
    </div>
    <div class="read-more">
      <a href="{{ .Permalink }}" class="read-more-link">{{ T "readMore" }}</a>
    </div>
  </div>
</article>
