{{- define "title" }}Index - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{ range $taxoname, $taxo := .Site.Taxonomies }}
<div class="terms">
  <div class="terms-title">
    {{ printf "%d %s Total" (len $taxo.ByCount) (humanize $taxoname) }}
  </div>
  <div class="terms-tags">
  {{ range $key, $value := $taxo.ByCount }}
    <a class="terms-link" href="{{ $taxoname | relLangURL }}/{{ $value.Term | urlize }}/">
      {{ $value.Term }}
      <span class="terms-count">{{ len $value.Pages }}</span>
      {{ end }}
  </div>
</div>
{{- end }}
{{- end }}
