<div class="mobile-navbar">
  <nav class="mobile-menu">
    <ul class="mobile-menu-list">
      {{ range $nav := .Site.Menus.main -}}
      <li class="mobile-menu-item">
        <a href="{{ $nav.URL | safeURL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
  </nav>
</div>
<!--
     <nav id="mobile-menu" class="mobile-menu slideout-menu">
     <ul class="mobile-menu-list">
     {{ range .Site.Menus.main -}}
     <a href="{{ .URL | safeURL }}">
     <li class="mobile-menu-item">{{ .Name }}</li>
     </a>
     {{- end }}
     </ul>
     </nav> -->
