// ==============================
// Mobile Navbar
// ==============================

.mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $mobile-navbar-height;
  background: $white;
  box-shadow: 0px 2px 2px $gray;
  text-align: center;
  z-index: 99;
}

.mobile-menu {
  .mobile-menu-list {
    position: relative;
    list-style: none;
    padding: 0;

    .mobile-menu-item {
      padding: 0px 10px;
      display: inline-block;
    }

    a {
      border-bottom: 1px solid $light-gray;
      font-size: 18px;
      font-family: $global-serif-font-family;

      &:hover {
        color: $theme-color;
      }
    }
  }
}

@include max-screen() {
  .mobile-navbar {
    display: block;
  }
}
